<div class="container w-25">
  <form [formGroup]="crossedAreaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="serial">Serial Number</label>
      <input type="text" class="form-control" id="serial" placeholder="Serial Number" formControlName="serialNumber">
    </div>
    <div class="form-group">
      <label for="startDate">StartDate</label>
      <input type="datetime" class="form-control" id="startDate" placeholder="StartDate" formControlName="startDate">
    </div>
    <div class="form-group">
      <label for="endDate">EndDate</label>
      <input type="datetime" class="form-control" id="endDate" placeholder="EndDate" formControlName="endDate">
    </div>
    <div class="form-group">
      <label for="dataFields">Data Fields</label>
      <input type="text" class="form-control" id="dataFields" placeholder="Data Fields"
        formControlName="returnDataFields">
    </div>
    <button type="submit" class="btn btn-primary">Get data</button>

  </form>
</div>
<ag-grid-angular style="width: 500px; height: 150px;" class="ag-theme-alpine" [rowData]="testData"
  [columnDefs]="columnDefs" [gridOptions]="gridOptions">
</ag-grid-angular>